ul {
    margin: 0;
    padding: 0;
}
span {
    display: block;
}
body {
    width: 70rem;
    margin: 0 auto;

}
.header-cotainer {
    padding-top: 2rem;
}
.header-cotainer .line-content {
    width: 70rem;
    border-bottom: solid #7A7A7A 0.2rem;
    margin: auto;
}
.header-cotainer .lab-title {
    display: flex;
    text-align: center;
    justify-content: center;
}
.lab-title .title-text {
    width: 60rem;
    font-size: 2.4rem;
    font-family: Cooper Black;
    color:#00009C ;
}

.logo{
    width: 70rem;
    
}


.menu {
    display: flex;
    justify-content: center;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
 text-decoration:none;
    padding: 5pt  35pt;
    font-size: 1.5rem;
   font-family: Arial blod;
font-weight: bold;
}

.menu a
{

	text-decoration: none;
	color: #333333;

}

.intro-content {
   font-size: 14pt;
    width: 69rem;
    
   text-align: justify;
    font-family: arial, helvetica, sans-serif;
     line-height: 30pt
}

.intro-content.indent {
   text-align: justify;
   text-indent: 2rem；
}

.singletitle
{
          margin-top: 5px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:5px;
	background-color: #DCF3F3;
    font-size: 18pt;
    font-weight: bold;
}