.publication .publication-container{
    width: 68rem;
    padding: 0 1rem;
    margin: auto;
    box-sizing: border-box;
}

.publication ul{
    list-style:none;
    padding:0;
    margin: 50px 20px 0px 35px;
    border:0;
}

.publication li{
    list-style: none;
    font-size: 1.0rem;
    font-family: "PT Serif",serif;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.paper-img{
    width: 25%;
    margin: 0;
    padding: 0;
}

.paper-name{
    text-align: left;
    width: 65%;
    margin: 10px 0 5% 0px;
}



.blocktitle a
{
margin:5pt;
padding:10pt;
font-size: 0.8rem;
line-height: 0.8rem;
color: #987cb9;
text-decoration: none;
font-family: "PT Serif",serif;


}
.blocktitle h3
{
font-size: 1.0rem;
color: #987cb9;
text-align: center; 
}

.paper ol {
padding-left:25px ;
}

.paper  li {
font-size: 1.1rem;
 text-align: justify;
padding-left:4px ;
}

.paper  a {
font-size: 1.0rem;

text-decoration: none;
font-family: "PT Serif",serif;
}
