.content{
    font-size: 14pt;
}
.content .events {
    box-sizing: border-box;
    width: 70rem;
    margin: auto;
    padding: 0 1.4rem;
}
.content ul{
    list-style:circle;
    padding: 0 0 0 1.5rem;
    margin: 0.6rem 1.4rem 0 2.2rem;
    border:0;
}

.content li{
    list-style: circle;
    font-size: 1.2rem;
    font-family: arial, helvetica, sans-serif;
}

.content li:not(:first-child){
    margin-top: 0.4rem;
}
