body {
    font-family: "PT Serif", serif;
    margin: 0;
    font-size: 20pt;
}

.header-cotainer .labimg-box {
    text-align: center;
    margin-top: 15pt;
}

.header-cotainer .lab-img {
    width: 600pt;
}

.tutor-content {
    padding-top: 5pt;
    font-size: 12pt;
    display: flex;
    justify-content: center;
}

.tutor-content .img-content img {
    width: 220pt;
    height: 180pt;
    margin-right: 36pt;
}

.text-content .text-row {
    display: flex;
}

.text-content .text-row:not(:first-child) {
    margin-top: 16pt;
}

.text-content .tutor-name .left {
    font-size: 16pt;
    font-weight: bold;
}

.text-content .tutor-name .left .totur-honer {
    font-size: 14pt;
    font-weight: normal;
}

.text-row .left {
    width: 350pt;
}

.text-row .right {
    width: 206pt;
}

.text-row .right .web-link {
    display: block;
}

.text-row .right .home-link {
    display: block;
    font-size: 14pt;
    font-weight: bold;
    color: black;
    margin-top: 10pt;
}
.team-degree-content {
    margin-top: 25pt;
}
.degree-title {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 16pt;
    padding-top: 16pt;
    color: #222;
    overflow: hidden;
}

.degree-title .title-content {
    text-align: left;
    margin: auto;
background-color: #DCF3F3;
}

.member-box {
    padding: 0 16pt;
    margin-top: -40pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.degree-content {
    padding: 8pt;
    border: 1px solid #ccc;
    display: flex;
    font-size: 14pt;
    justify-content: center;
    align-items: center;
    margin-top: 40pt;
}

.member-img-box {
    width: 120pt;
    height: 150pt;
    overflow: hidden;
    position: relative;
}
.degree-content .member-img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.degree-content .menber-content {
    margin-left: 20pt;
}

.degree-contact {
    font-size: 14pt;
}

.degree-contact .contact {
    margin-top: 10pt;
}

.menber-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menber-content .m-title {
    font-weight: bold;
}

.menber-content .c-detail {
    font-size: 12pt;
}

.interests .list {
    margin-top: 5pt;
}

.menber-content .interests {
    text-align: left;
}

.interests li {
    margin-left: 10pt;
    padding-left: 5pt;
}

.interests .m-title {
    margin-top: 10pt;
}

.degree .m-title {
    line-height: 30pt;
    text-align: center;
}

