body {
    font-family: "PT Serif",serif;
    margin: 0;
    font-size: 20pt;
}
.tutor-content {
    padding: 25pt 0;
    font-size: 12pt;
    display: flex;
    justify-content: center;
}

.tutor-content .img-content img {
    width: 120pt;
    margin-right: 36pt;
}
.text-content .text-row {
    display: flex;
}
.text-content .text-row:not(:first-child) {
    margin-top: 16pt;
}

.text-content .tutor-name .left {
    font-size: 16pt;
    font-weight: bold;
}
.text-content .tutor-name .left .totur-honer {
    font-size: 14pt;
    font-weight: normal;
}
.text-row .left {
    width: 350pt;
}
.text-row .right {
    width: 206pt;
}

.text-row .right .web-link {
    display: block;
}
.content {
    font-size: 1.3rem;
    margin-top: 2rem;
}

.content .news-item {
    display: flex;
    box-sizing: border-box;
    width: 70rem;
    margin: auto;
    padding: 1rem 1.4rem;
    border-bottom: 1px solid #ccc;
}

.content .news-item .left img {
    width: 8rem;
}

.content .news-item .right {
    padding-left: 1rem;
}

.content .news-item .right ul {
    list-style: circle;
    padding-left: 2rem;
}

.content .news-title {
    font-size: 1.3rem;
    margin: 0 0 1rem 0;
}

.content .news-text {
    font-size: 1rem;
}